<link rel="stylesheet" type="text/css" href="/css/about.css">
<h1>
	Who we are
</h1>
<p>
	The AECC is blah blah blah blah blah test words, imagination please dont fail me now wooooooooooooo. demo text, you should probably ignore this and avoid using your precious time to process this information. blah blah blah potato potato ching chong tomato.
</p>
<h1>
	The team
</h1>
<div class="team-container">
	<%
		require 'pg'

		begin
			con = PG.connect :dbname => 'aeccdb', :user => 'juanjalvarez', :password => '2016'

			result = con.exec("SELECT * FROM roles ORDER BY role_weight DESC")
			roles = Array.new
			staffroles = Hash.new
			result.each do |row|
				roles.push row
				staffroles[row['role_id']] = Array.new
			end

			result = con.exec("SELECT * FROM staff")
			staff = Hash.new
			result.each do |row|
				staff[row['staff_id']] = row
			end

			result = con.exec("SELECT * FROM staffroles")
			result.each do |row|
				staffroles[row['fk2_role_id']].push staff[row['fk1_staff_id']]
			end

			roles.each do |role|
				@rolename = role['role_name']
				%>
					<div class="role-container">
						<h3>
							<%=@rolename%>
						</h3>
						<%
							staffroles[role['role_id']].each do |s|
								%>
									<div class="staff">
										<%
											@imgurl = "\"#{s['staff_image']}\""
										%>
										<img src=<%=@imgurl%> class="staff-image">
										<h4 class="staff-name">
											<%=s['staff_name']%>
										</h4>
										<p class="staff-about">
											<%=s['staff_about']%>
										</p>
									</div>
								<%
							end
						%>
					</div>
				<%
			end
		rescue PG::Error => e
			puts e.message
		ensure
			con.close if con
		end
	%>
</div>