<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="nav column">
				<a class="nav-item" href="/">
					<img src="/images/aecc-logo.png" align="center">
				</a>
				<a class="nav-item nav-btn" href="/">HOME</a>
				<a class="nav-item nav-btn" href="/about">ABOUT</a>
				<a class="nav-item nav-btn" href="/contact">CONTACT</a>
			</div>
			<div class="body column">
				<%= yield %>
			</div>
		</div>
	</body>
</html>